﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="/logo.ico">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/skycast.js")
    @Scripts.Render("~/scripts/Chart.js")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDru9u0stKRpTsA-PJzzieAcbkl_x8oGvk&libraries=places&callback=initMap" async defer></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    
    <script>
    function initMap() {
    var input = document.getElementById('mysearch');
    var autocomplete = new google.maps.places.Autocomplete(input);
    }
    </script>
</body>
</html>
