﻿body {
    padding-top: 30px;
    padding-bottom: 20px;
    height: 100%;
    background-color: #FFF8DC;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.toplevel {
    line-height: 100px;
    height: 250px;
    background: #F0F0F0;
    background-image: url("/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #888;
    border-radius: 15px;
    margin-top: 5px;
}

.toplevel h1 {
    font-family: 'Arvo', serif;
    font-size: 60px;
    margin-left: 420px;
    margin-bottom: 5px;
}

.toplevel h2 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 20px;
    margin-left: 110px;
    margin-bottom: 60px;
}

.sbx-custom {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    white-space: nowrap;
    padding: 30px 120px;
}

.sbx-custom__wrapper {
    width: 300px;
    height: 51px;
}

.sbx-custom__input {
    display: inline-block;
    -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 26px;
    box-shadow: inset 0 0 0 2px #CCCCCC;
    background: #FFFFFF;
    padding: 0;
    padding-right: 41px;
    padding-left: 51px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
    display: none;
}

.sbx-custom__input:hover {
    box-shadow: inset 0 0 0 2px #b3b3b3;
}

.sbx-custom__input:focus, .sbx-custom__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 2px #6392C8;
    background: #FFFFFF;
}

.sbx-custom__input::-webkit-input-placeholder {
    color: #BBBBBB;
}

.sbx-custom__input::-moz-placeholder {
    color: #BBBBBB;
}

.sbx-custom__input:-ms-input-placeholder {
    color: #BBBBBB;
}

.sbx-custom__input::placeholder {
    color: #BBBBBB;
}

.message {
    font-family: 'Lobster', serif;
    font-size: 19px;
    margin-left: 40px;
}

.sbx-custom__submit {
    position: absolute;
    top: 24px;
    right: inherit;
    left: 122px;
    margin: 0;
    border: 0;
    border-radius: 25px 0 0 25px;
    background-color: rgba(255, 255, 255, 0);
    width: 51px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sbx-custom__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
    cursor: pointer;
}

.sbx-custom__submit:focus {
    outline: 0;
}

.sbx-custom__submit svg {
    width: 31px;
    height: 31px;
    vertical-align: middle;
    fill: #59B2FF;
}